#testimonial {
	margin-bottom: 0px;
}

.organizers h3{
	padding-bottom: 10px;
}

.organizers .item {
	float: left;
	padding: 20px;
	/*padding-left: 60px; */
}

.sponsor-group {
	padding: 10px 0px;
}

.sponsor-group.gold a {
	width: 400px;
	height: 130px;
}

.sponsor-group.gold strong {
	color: #DBA901;
}

.sponsor-group.silver a {
	width: 400px;
	height: 130px;
}

.sponsor-group.silver strong {
	color: #c0c0c0;
}

.sponsor-group.bronze a {
	width: 400px;
	height: 130px;
}

.sponsor-group.bronze strong {
	color: #cd7f32;
}

.sponsor-group.support a {
	width: 155px;
	height: 60px;
}

.code {
	color: #999999;
	font-style: italic;
	font-size: 11px;
	margin-bottom: -38px;
	margin-top: 16px;
}

p#summary1,
p#summary2,
p#summary3,
p#summary4,
p#summary5,
p#summary6,
p#summary7,
p#summary8,
p#summary9,
p#summary10,
p#summary11 {
	display: none;
}


.footer {
	color: #fff;
	background: #00325e;
	height: 100px;
}


.footer p{
	margin-top: 20px;

}
